version: '3.5'

services:
  traefik:
    image: traefik:v2.2
    ports:
      - 80:80
      - 443:443
      - 25:25
      - 465:465
      - 587:587
      - 143:143
      - 993:993
      - 110:110
      - 995:995
      - 4190:4190
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik_public
        - traefik.http.services.api.loadbalancer.server.port=8080
        - traefik.http.routers.api.service=api@internal
        - traefik.http.routers.api.rule=Host(`traefik.local`)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: >
       --log.level=ERROR
       --api.insecure=true
       --providers.docker
       --providers.docker.swarmmode=true
       --providers.docker.watch=true
       --providers.docker.exposedbydefault=false
       --entryPoints.web.address=:80
       --entryPoints.websecure.address=:443
       --entryPoints.smtp.address=:25
       --entryPoints.smtps.address=:465
       --entryPoints.submission.address=:587
       --entryPoints.imap.address=:143
       --entryPoints.imaps.address=:993
       --entryPoints.pop.address=:110
       --entryPoints.pops.address=:995
       --entryPoints.sieve.address=:4190
    networks:
      - public

  traefik-certs-dumper:
    image: ldez/traefik-certs-dumper:v2.7.0
    entrypoint: sh -c '
      apk add jq
      ; while ! [ -e /data/acme.json ]
        || ! [ `jq ".[].Certificates | length" /data/acme.json` != 0 ]; do
          sleep 1
      ; done
      && echo watch certs
      && traefik-certs-dumper file --watch
        --source /data/acme.json --dest /data/certs --domain-subdir=true --version v2'
    networks:
      - public
    volumes:
      - /opt/config/traefik:/data
 
networks:
  public:
    driver: overlay
    attachable: true
